@use "../../../styles/colors" as c;
@use "../../../styles/containers" as container;

// Profile Background
.profile__header {
  position: relative;
}

.background__wrapper {
  display: flex;
  left: 0;
  max-height: 240px;
  position: absolute;
  right: 0;
  z-index: -1;
}

.background {
  display: flex;
  object-fit: cover;
  width: 100%;
}

// Profile Details
.profile__details {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding-top: 200px;
  @extend .main__container;
}

.portrait__wrapper {
  $size: 72px;
  border: 0.3rem solid c.$col-text-neutral;
  border-radius: 50%;
  display: flex;
  height: $size;
  width: $size;
}

.portrait {
  border-radius: inherit;
  height: 100%;
  width: 100%;
}

.user__info {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.full__name {
  font-size: 2.4rem;
  font-weight: 800;
}

.username {
  color: c.$col-text-neutral-light;
  font-size: 1.4rem;
}

.follow__stats {
  display: flex;
  gap: 1.2rem;
}

.follow__count {
  display: flex;
  font-size: 1.4rem;
  font-weight: 600;
  gap: 0.4rem;
}

.follow__label {
  color: c.$col-text-neutral-light;
  font-weight: 400;
}
