// Primary Color
$col-primary: #7209B7;
$col-primary-deep: #560BAD;
$col-primary-dark: #480CA8;

// Secondary Color
$secondary: #3F37C9;
$secondaryBright: #4361EE;
$secondaryLight: #4895EF;

// Accent
$accent: #B5179E;
$accentBright: #F72585;

// Text
$col-text-neutral: #111827;
$col-text-neutral-light: #374151;
$col-text-white: #E2E8F0;

// Forms
$form-border: #9CA3AF;
$form-border-light: #D1D5DB;
$form-border-dark: #4B5563;

// Error
$error: #EF4444;
$error-dark: #DC2626;

// Success
$success: #16A34A;
$success-dark: #15803D;